@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
input {
  height: 5vh;
  width: 20vw;
  font-size: 24px;
}
input:valid {
  color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
  border-radius: 5px;
}
body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input {
  width: 50vw;
  height: 10vh;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 20px;
}
button {
  width: 40vw;
  height: 10vh;
  border: 1px solid transparent;
  border-radius: 50px;
  color: rgb(46, 255, 46);
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  transition-duration: 0.7s;
}
button:hover {
  color: white;
  background-color: rgb(46, 255, 46);
  transform: scale(1.1);
  cursor: pointer;
}
.gradient {
  height: 300px;
  width: 100%;
  background: linear-gradient(
    149deg,
    rgba(24, 187, 156, 1) 0%,
    rgba(106, 57, 175, 1) 42%,
    rgba(187, 24, 148, 1) 72%,
    rgba(115, 53, 134, 1) 100%
  );
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: black;
}
nav a {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  transition-duration: 0.7s;
}
nav a:hover {
  color: rgb(50, 50, 255);
}
nav div {
  display: flex;
}
